.inzite-event-calendar {
  border: 1px solid #b7b7b7;
}
.inzite-event-calendar thead {
  background: #305562;
  color: #fff;
}
.inzite-event-calendar thead .next_month,
.inzite-event-calendar thead .prev_month {
  vertical-align: middle;
}
.inzite-event-calendar thead .next_month a,
.inzite-event-calendar thead .prev_month a {
  font-size: 0.75rem;
  color: #fff;
}
.inzite-event-calendar thead .this_month {
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
.inzite-event-calendar thead .this_month .this_year {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.0;
}
.inzite-event-calendar thead .prev_month {
  text-align: left;
}
.inzite-event-calendar thead .next_month {
  text-align: right;
}
.inzite-event-calendar tbody td {
  font-size: 11px;
  color: #8da2b6;
  font-weight: bold;
  text-align: center;
  padding: 2px 0;
  cursor: default;
}
.inzite-event-calendar tbody td.active a,
.inzite-event-calendar tbody td.active span {
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #305562;
  text-align: center;
  padding: 5px 0;
  line-height: 12px;
  width: 26px;
  color: #fff;
  background: #305562;
}
.inzite-event-calendar tbody td a,
.inzite-event-calendar tbody td span {
  display: inline-block;
  text-align: center;
  border: 2px solid transparent;
  padding: 5px 0;
  line-height: 12px;
  width: 26px;
}
.inzite-event-calendar tbody td a {
  cursor: pointer;
}

.inzite_event_info {
  text-align: center;
}
.inzite_event_info .event {
  text-align: left;
  display: flex;
}
.inzite_event_info .event .event_date {
  flex: 0 1 auto;
  margin-right: 1rem;
}
.inzite_event_info .event .event_date .date_text {
  background: #fff;
  border: 1px solid #b7b7b7;
  text-transform: uppercase;
  color: #3e4a59;
  text-align: center;
  line-height: 30px;
  font-size: 0.8em;
  padding: 0 0.5rem;
  font-weight: 700;
}
.inzite_event_info .event .event_date .date_number {
  background: #ebebeb;
  border: 1px solid #b7b7b7;
  border-top: 0;
  text-transform: uppercase;
  color: #3e4a59;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  padding: 0 0.5rem;
}
.inzite_event_info .event .event_text {
  flex: 1 1 auto;
  font-size: 0.9rem;
}
.inzite_event_info .event .event_text .text_title {
  font-weight: bold;
  color: #305562;
}
.inzite_event_info .event .event_text .text_date {
  font-weight: normal;
  color: #2a2e30;
}

.single-inzite_events main {
  max-width: 1088px;
  margin-left: auto;
  margin-right: auto;
  padding: 4em 30px;
}
